<form action="{{ path('link_create') }}" method="POST">
    {{ form_widget(form) }}
    <input type="submit" value="{% trans from 'ToffiakURLShortenerBundle'%}toffiak_urlshortener.form.link.submit{% endtrans %}" />
</form>